/* general two-column layout */
body {
    color: #222;
    background-color: white;
    overflow: hidden;
}

#bodywrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
}

#container {
    flex: 1 1 auto;
    position: relative;
}

#containerwrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#credits {
    flex: 0 1 auto;
}

#input, #rightpane {
    position: relative;
}

#container .gutter, #input, #rightpane {
    float: left;
    height: 100%;
    overflow: hidden;
}

/* left column editor layout */
#input .wrap {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#input .editor-wrap {
    flex: 1 1 auto;
    height: 0;
}

#input .editor {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    font-family: monospace;
    font-size: inherit;
}

#input #formwrap {
    flex: 0 1 auto;
}

#input #formwrap > div {
    margin: 0 1em;
}

/* layout in right pane */
#rightpane .wrap {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#output {
    background-color: gray;
    overflow: scroll;
    font-size: 1rem;
    flex: 1 1 auto;
}

#rightpane .buttons {
    flex: 0 1 auto;
}

#container .gutter {
    cursor: ew-resize;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center center;
}

#rightpane .buttons input, #rightpane .buttons select {
    margin-top: 1rem;
    margin-right: 1rem;
}

#credits {
    color: #666;
    font-size: small;
    text-align: center;
}
